// Color var connected to all component

$primary-responsive-back:                       #000708;
$primary-back:                                  #002D33;
$primary-brand:                                 #004751;
$btn-home-page:                                 #008595;
$btn-primary:                                   #007787;
$btn-primary-hover:                             #005E6C;
$error-back-warn:                               #f9ff00;
$zert-red:                                      #c8102e;
$zert-red-hover:                                #871022;
$white :                                        #ffffff;
$semiwhite:                                     #f1f1f1;
$semigray:                                      #f0f0f0;
$gray-out:                                      #a1a1a1;
$Gray-Head:                                     #858585;
$Dark-Gray-Head:                                #565656;
$semi-black:                                    #2c2b2d;
$footer-back:                                   #262529;
$header-background:                             rgba(0, 0, 0, 0.62);
$Black:                                         #000000;
//
//background animation
//
//mech
$back-ground-mech-triangle-ambient:             rgba(85, 86, 85, 0.99);
$back-ground-mech-triangle-diffuse:             rgba(254, 253, 254, 0.99);
$back-ground-mech-triangle-background:          rgba(1, 2, 1, 0.99);

$back-ground-lights-triangle-ambient:           rgba(1,5,2, 0.99);
$back-ground-lights-triangle-diffuse:           rgba(0, 77, 88, 0.99);

//lines
$back-ground-line-triangle-fill:                rgba(1,3, 1, 0);
//vertex
$back-ground-vertex-triangle-fill:              rgba(0,0,102, 0);
$back-ground-vertex-triangle-strokeColor:       rgba(0,0,102, 0);

//background lines
//
$zert-red-background:                           #c8102e



//---------------Use this var for java script---------------------


//  primaryBrand:                         $primary-brand;
//  btnBlue:                              $btn-blue;
//  btnBlueHover :                        $btn-blue-hover;
//  primaryBack :                         $primary-back;
//  primaryResponsiveBack:                $primary-responsive-back;
//  errorBackLila:                        $error-back-lila;
//  grayOut:                              $gray-out;
//  zertRed:                              $zert-red;
//  zertRedHover:                         $zert-red-hover;
//  white :                               $white;
//  semiwhite:                            $semiwhite;
//  semigray:                             $semigray;
//  grayHead:                             $Gray-Head;
//  darkGrayHead:                         $Dark-Gray-Head;
//  semiBlack:                            $semi-black;
//  footerBack:                           $footer-back;
//  headerBackground:                     $header-background;
//  black:                                $Black;
//
//
//backGroundLightsTriangleAmbient:        $back-ground-lights-triangle-ambient
//backGroundLightsTriangleDiffuse:        $back-ground-lights-triangle-diffuse
//
//backGroundLineTriangleFill:             $back-ground-line-triangle-fill
//
//backGroundMechTriangleBackground:       $back-ground-mach-triangle-background
//backGroundMechTriangleAmbient:          $back-ground-mech-triangle-ambient
//backGroundMechTriangleDiffuse:          $back-ground-mech-triangle-diffuse
//
//
//backGroundVertexTriangleFill:           $back-ground-vertex-triangle-fill
//backGroundVertexTriangleStrokeColor:    $back-ground-vertex-triangle-strokeColor

//zertRedBackground:                      $zert-red-background




//---------------Original Colors----------------------
//
//$primary-responsive-back:     #1c053e;
//$primary-back:                #3c1d57;
//$primary-brand:               #693298;
//$btn-blue:                    #108ee9;
//$btn-blue-hover:              #3a9cc6;
//$error-back-lila:             #f9ff00;
//$zert-red:                    #c8102e;
//$zert-red-hover:              #871022;
//$white :                      #fff;
//$semiwhite:                   #f1f1f1;
//$semigray:                    #f0f0f0;
//$gray-out:                    #a1a1a1;
//$Gray-Head:                   #858585;
//$Dark-Gray-Head:              #565656;
//$semi-black:                  #2c2b2d;
//$footer-back:                 #262529;
//$header-background:           rgba(0, 0, 0, 0.62);
//$Black:                       #000;
////
////background animation
////
//$back-ground-mech-triangle-ambient:             rgba(85, 86, 85, 0.99) ;
//$back-ground-mech-triangle-diffuse:             rgba(254, 253, 254, 0.99) ;
//$back-ground-mech-triangle-background:          rgba(1, 2, 1, 0.99);
//
//$back-ground-lights-triangle-ambient:           rgba(1,5,2, 0.99) !default;
//$back-ground-lights-triangle-diffuse:           rgba(76,36,110, 0.99) !default;
//
//
//$back-ground-line-triangle-fill:                rgba(1,3, 1, 0) !default;
//
//$back-ground-vertex-triangle-fill:              rgba(0,0,102, 0) !default;
//$back-ground-vertex-triangle-strokeColor:       rgba(0,0,102, 0) !default;
//
